<section class="block">
  <div class="block__header container">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero doloremque
      cum quod dolorem, necessitatibus quam eum repudiandae nisi iste modi!
    </p>
  </div>
</section>
<section class="block block--dark block--skewed-left">
  <div class="block__header container">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero doloremque
      cum quod dolorem, necessitatibus quam eum repudiandae nisi iste modi!
    </p>
  </div>
</section>
