<button class="btn btn--primary btn--block">Get started</button>
<button class="btn btn--secondary btn--block">Get started</button>
<button class="btn btn--accent btn--block">Get started</button>
<button class="btn btn--outline btn--block">Get started</button>
<button class="btn btn--primary">Get started</button>
<button class="btn btn--secondary">Get started</button>
<button class="btn btn--accent">Get started</button>
<button class="btn btn--outline">Get started</button>
<a href="" class="btn btn--primary btn--block">Buy now</a>
<a href="" class="btn btn--secondary btn--block">Buy now</a>
<a href="" class="btn btn--accent btn--block">Buy now</a>
<a href="" class="btn btn--outline btn--block">Buy now</a>
<a href="" class="btn btn--primary">Buy now</a>
<a href="" class="btn btn--secondary">Buy now</a>
<a href="" class="btn btn--accent">Buy now</a>
<a href="" class="btn btn--outline">Buy now</a>
